.subscribe {
  width: 1600px;
  height: 598px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../assets/subscribe.png);
}
.subscribe-form {
  width: 406px;
  height: 104px;
  padding: 217px 597px 277px 597px;
}
.subscribe-title {
  width: 381px;
  height: 28px;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0 auto;
}
.form {
  margin-top: 29px;
  display: flex;
  flex-direction: row;
}
.email-form {
  width: 315px;
  height: 46px;
  background: #FFFFFF;
  border-radius: 0px;
  border: none;
  padding: 2px 0px 0px 24px;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #373737;
  margin-right: 0;
}
.email-send{
  width: 66px;
  height: 48px;
  background: #00AFDB;
  border: none;
  padding: 0;
  margin-left: 0;
  cursor: pointer;
}

.email-send-ok {
  width: 19px;
  height: 16.52px;
  padding-left: 3px;
  padding-top: 1px;
}
.email-send-ok:hover {
  transform: scale(1.1)
}