.header_margin__30 {
  margin: 30px auto;
}

.pet-header-logo-title_color__black{
  color: #545454;
}

.pet-header-logo-subtitle_color__black{
  color: #292929;
} 

.pets-link-color_dark{
  color: #545454;
}

.pets-link-color_dark:hover{
  color:#F1CDB3;
  cursor: pointer;
}

.sticky{
  position: sticky;
  top: 0;
  right: 0;
  background: white;
}
.height {
  height: 823px;
  background: none;  
}

