@import "~normalize.css";
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.main {
  max-width: 500px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.game-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pause{
  border: none;
  background: none;
}

.pause:active{
  border: none
}

.visible{
  display: none;
}

.game-container{
  display: flex;
  margin: auto;
  background: #af8421;
  padding: 5px;
  border: 1px solid #444;
  transition: all .5s ease-in;
  -webkit-transition: all .5s ease-in;
  position: relative;
  flex-wrap: wrap;
  width: auto;
  width: 500px;
  height: 500px;
  box-sizing: border-box;
}

.chip{
  border: 1px solid #444;
  margin: 0.2%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  cursor: pointer;
  box-sizing: border-box;
  background-size: 447px;
}
.chip4{
  height: 24.6%;
  width: 24.6%;
  font-size: 2.5rem;
}
.chip3{
  height: 32.9%;
  width: 32.9%;
  font-size: 2.5rem;
}
.chip5{
  height: 19.6%;
  width: 19.6%;
  font-size: 2.5rem;
}
.chip6{
  height: 16.2%;
  width: 16.2%;
  font-size: 2rem;
}
.chip7{
  height: 13.8%;
  width: 13.8%;
  font-size: 1.9rem;
}
.chip8{
  height: 12.1%;
  width: 12.1%;
  font-size: 1.8rem;
}

.empty{
  border: none;
  background: none;
  color: #af8421;
}
.nonvisible {
  visibility: hidden;
}

.dragging {
  position: absolute;
  z-index: 100;
}

.timer-container {
  display: flex;
  flex-direction: row;
}

.description, 
 .timer, 
 .counter, 
 .pause,
 .min,
 .sec{
  font-size: 1.4rem;
}
.description{
  margin-right: 4px;
}

.winner{
  position: absolute;
  background: rgba(15, 15, 15, 0.781);
  color: white;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  z-index: 2;
  font-size: 2rem;
  width: 100%;
}

@media (max-width: 600px) {
  *{
    font-size: 12px;
  }
  .main {
    max-width: 342px;
  }
  .game-container{
    width: 342px;
    height: 342px;
  }

  
}

@media (max-width: 342px) {
  *{
    font-size: 10px;
  }
  .main {
    max-width: 300px;
  }
  .game-container{
    width: 300px;
    height: 300px;
  }

}