@import '~normalize.css';

@font-face {
  font-family: 'AngryBirds';
  src: url('./../assets/fonts/AngryBirds.ttf') format('truetype');
}

html {
  font-family: 'AngryBirds', sans-serif;
  font-size: 14px;
  list-style: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url('./../assets/img/wallpaperBody.png');
  background-position-y: -557px;
  background-position: center;
  background-size: cover;
}
