.footer {
  width: 1600px;
  height: 184px;
  background: #000000;
}
.footer-inner {
  padding: 60px 160px 79px 160px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.footer-inner-blok {
  width: 236px;
  height: 20px;
  padding-bottom: 2px;
}
.footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  
}
.nav-text {
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 0.98;
}
.nav-text:hover {
  transform: scale(1.1);
}
.nav-border {
  width: 8px;
  height: 0px;
  border: 1px solid #4E4E4E;
  transform: rotate(-90deg);
}
.footer-copy {
  text-align: end;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #818181;
}
