.implement-inner_flex-dir {
  flex-direction: row-reverse;
  padding-left: 269px;
  padding-right: 378px;
}
.implement_img {
  background: url(../assets/content-image-2.png);
}
.implement-content-height {
  height: 184px;

}
.implement-header_size {
  width: 299px;
  height: 28px;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #373737;
  margin: 0;
}
.implement-text_style {
  height: 60px;
}
.implement-btn_width {
  width: 180px;
}